.course-standards-container {
    padding-top: 20px;
}

.course-standards-error {
    padding: 16px;
    background-color: #FEF2F2;
    color: #EF4444;
    border-radius: 8px;
    text-align: center;
    margin-top: 20px;
    border: 1px solid #FECACA;
}

@media (max-width: 768px) {
    .course-standards-container {
        padding: 50px 10px 0;
    }
}