.main-layout-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    padding: 20px;
}

.main-layout-nav {
    background-color: #FFFFFF;
    max-width: 0.7fr;
    padding: 20px 40px;
    margin: 10px 50px 70px;
    display: flex;
    justify-content: space-between;
    gap: 18px;
    align-items: center;
    border-radius: 20px;
    box-shadow: 8px 8px 30px #e9e9e9ff;
}

.main-layout-title {
    font-size: 25px;
    font-weight: 700;
    color: #464646;
    cursor: pointer;
    text-decoration: none;
}

.main-layout-nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.main-layout-link {
    color: #797979ff;
    font-weight: 500;
    margin: 0 6px;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
    border-radius: 12px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.main-layout-link:hover {
    background-color: #F6F7F8;
    color: #336F8B;
}

.main-layout-semester-select {
    width: 180px;
}

.main-layout-content {
    padding: 0 20px;
    flex: 1;
}

.main-layout-footer {
    background-color: #ffffff;
    padding: 20px 90px;
    margin-top: 40px;
    text-align: center;
    color: #666;
    font-size: 14px;
}

.main-layout-footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 15px 0 30px;
}

.main-layout-footer-link {
    background-color: #f8f6f6ff;
    color: #41809E;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 25px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    cursor: pointer;
    display: inline-block;
}

.main-layout-footer-link:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
