.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.loader svg path,
.loader svg rect {
    fill: #6887df79;
}

[data-theme='dark'] .loader-overlay {
    background-color: rgba(173, 173, 173, 0.7);
}