.select-input-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.select-input-button {
    background-color: #EDEEF1;
    color: #464646;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.2s;
}

.select-input-button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.select-input-button:hover:not(:disabled) {
    background-color: #d2d2d2ff;
}

.select-input-dropdown {
    position: absolute;
    background-color: white;
    min-width: 100%;
    max-height: 250px;
    overflow-y: auto;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 0;
    margin: 4px 0 0 0;
    z-index: 1000;
    display: none;
    top: 100%;
    left: 0;
    list-style: none;
    border-radius: 4px;
}

.select-input-dropdown.expanded {
    display: block;
}

.select-input-item {
    background-color: #EDEEF1;
    color: #464646;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    transition: background-color 0.2s;
    border-bottom: 1px solid #e0e0e0;
}

.select-input-item:last-child {
    border-bottom: none;
}

.select-input-item:hover {
    background-color: #d2d2d2ff;
}

.select-input-item.active {
    background-color: #d3d3d3ff;
    font-weight: 600;
}

.select-input-icon {
    fill: currentColor;
    height: 16px;
    width: 16px;
    transition: transform 0.2s;
}

.select-input-icon.expanded {
    transform: rotate(180deg);
}
